extends layout.pug

block content

  - var count = 0
  form(class="border border-primary" style="width:60%;padding:10px;margin:10px")
    .row
      each n in allRent
        .cold-md-3
          .card-body
            p= "Client: " + allRent[count].client
            p= "Car: " + allRent[count].car
            p= "Days: " + allRent[count].days
            p= "Price: " + allRent[count].price
            .row(style='text-align: left;')
              .col-md-6
                a(href='/rent/delete/' + allRent[count]._id) 
                  button(type="button") Eliminar
                a(href='/rent/' + count) 
                  button(type="button") Editar
            p.border-bottom
            - count = count + 1;
            br
