extends layout

block content 
    a(href='/chat/all') 
        button(type="button") All
    a(href='/chat/1') 
        button(type="button") Chat 1
    a(href='/chat/2') 
        button(type="button") Chat 2
    a(href='/chat/3') 
        button(type="button") Chat 3
    
    h1.border-bottom Chat
    div(id="chatBox" style="overflow:scroll")
    br
    form(id="chat")
        br
        input(type="text" id="msg")
        input(type="submit")

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 
