extends layout.pug

block content
    - var count = 0
    form(class="border border-primary" style="width:60%;padding:10px;margin:10px" method="post" action="/rent/new")
        h1.border-bottom New Form
        div.form-group
          label(for="brand") Brand:
          select.form-control(id="brand" name="brand")
            each n in all
              option(value="brand")= all[count].brand
        div.form-group
          label(for="name") Client:
          select.form-control(id="name" name="name")
            option(value="name")= all[count].name
        div.form-group
          label(for="days") Days:
          input.form-control(id="days" name="days" type="text" required)
        button(class="btn btn-outline-secondary" type="submit") Enviar
        - count = count + 1;

